

#root, .chapters,.content, .subchapters{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chapters{
    position: fixed;
    z-index: 1;
    top: 0;
}

.subchapters{
    position: fixed;
    z-index: 1;
    top: 0vh;
    left: 0;
    flex-direction: row;
}

.content{
    width: 70vw;
    margin-top: 20vh;
}

.subchapter-section{
    overflow: auto;
    max-height: 30vh;
    flex-wrap: nowrap;
}

.exercise{
    z-index: 100;
    position: relative;
}