html, body, #root, #root>div {
    height: 100%
  }

#root, .chapters,.content, .subchapters{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chapters{
    position: fixed;
    top: 0;
}

.subchapters{
    position: fixed;
    top: 50vh;
    left: 0;
    flex-direction: row;
}

.content{
    width: 70vw;
    margin-top: 20vh;
}
