#root, .menu-up,.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-up{
    position: fixed;
    top: 0;
    border-top: thin red solid;
    background-color: blue;
}

.content{
    width: 70vw;
    margin-top: 1.5em;
}

